*{
margin: 0;
padding: 0;
box-sizing: border-box;


}

/* regole generali pagina */




 /* navbar regole */

header #navbar-general {
    height: 60px;
    width: 100%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#navbar-general #navbar-left {
    height: 100%;
    width: 430px;
    background-color: purple;

}


#navbar-general #navbar-right{
    height: 100%;
    width: 430px;
    background-color: purple;


}