*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;


}

/* regole generali pagina */

body{
    padding-top: 60px;
}

header{
    position: fixed;
    left: auto;
    right: auto;
    width: 100%;
    top: 0;
    height: 60px;
    background-color: white;
    z-index: 1;
    border-bottom: 1px solid lightgrey;
}


 /* navbar regole */

#navbar-general {
    height: 60px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}



#navbar-left {
    height: 100%;
    width: 630px;
    /* background-color: rgb(0, 0, 0); */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 30px;
   

}



#navbar-right{
    height: 100%;
    width: 630px;
    /* background-color: rgb(0, 0, 0); */
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.navbar-items{
    height: 100%;
    width: 125px;
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

   
  
}

.navbar-items:hover{
    text-decoration: underline;
    color: rgb(17, 0, 255);
}

 /* test */




#logo-dropbox{
   width: 100%;
   

    
}

.button-blue{
    background-color: #0061FF;
    padding: 10px;
    color: white;
    white-space: nowrap;
    border: none;
}


/* /navbar regole */



/* inizio regole jumbotron */


#first-section {
    background-color: #B4D0E7;

}

#jumbotron {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: 600px;
    /* background-color:aquamarine ; */

}


#main-title {
    font-size: 80px;
    /* border: 1px solid black; */
    padding-top: 50px;
    padding-bottom: 20px
    ;

}

/* test */


#container-two-section{
    height: 400px;
    display: flex;
    flex-direction: row;
    gap: 30px;

}

#left-section {
    max-width: 320px;
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 1px solid black; */

}

#freccia-jumbo{
    font-size: 40px;
}



#right-section {
    max-width: 600px;
    max-height: 400px;
    /* background-color: red; */
    /* border: 1px solid black; */
}

#img-jumbo {
    height: 100%;

}

/* /inizio regole jumbotron */



/* inizio regole main-section */

#main-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: auto;
    /* border: 2px solid #EEEEEF; */
    margin-top: 80px;


}


#contenitore-trova {
    height: 100px;
    display: flex;
    align-items: center;
}

#trova-il-piano{
    font-size: 40px;
    /* border: 1px solid black; */
   

}

#buttons-fatturazione{
    /* border: 1px solid black; */
    padding: 50px 0px;
}

#fatturazione-mensile{
    margin-right: 30px;
}

.fa-circle{
    color: #D7D7D9;

}

.cerchio-blu{
color: #0061FF;


}


/* fine sezione titolo e fatturazione mensile */


#tre-colonne {

width: 100%;
height: auto;
/* border: 1px solid #E5E5E6; */
display: flex;
gap: 40px;
margin-bottom: 60px;

}

.dimensioni-colonne {
    width: calc(100% / 3);
    height: auto;
    border: 2px solid #EEEEEF;
    padding-bottom: 40px;
}

.titoli-colonne{
    border-bottom: 2px solid #EEEEEF;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 40px;
}

.container-colonne-interno {
    margin-left: 30px;
    margin-right: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-content: center;

}

.rimuovi-list-items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.acquista-ora-blu{
    color: blue;
    text-decoration: underline;
}



.riga-dentro-colonna{
    width: 60px;

}

.flex-font-awesome{
    display: flex;
}

.margin-description{
    margin-left: 10px;


}

.scritte-grigio-chiaro{
    color:lightslategrey;
}

.fa-check{
    color: #0462FF;

}
 
/* fine sezione tre colonne */





/* /sezione enterprise */

#sezione-enterprise {
    width: 100%;
    height: 300px;
    border: 2px solid #EEEEEF;
    margin-bottom: 130px;


}

#enterprise-due-box{
    display: flex;
    
}


#colonna-enterprise{
    display: flex;
    flex-direction: column;
    height: 300px;
    gap: 40px;
    margin-left: 30px;
}

#button-enterprise{
    margin-left: 20px;
}

/* /sezione enterprise */








/* entra in contatto */

#entra-in-contatto {
    height: 500px;
    width: auto;
    /* border: 1px solid black; */
    margin-bottom: 150px;
    display: flex;

}

#img-left{
    width: 60%;
    height: 100%;
    /* background-color: red; */
}

#img-partner{
    width: 100%;


}

#writing{
    width: 40%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 60px;

}


#trova-un-partner{
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px solid black;
}



/* /entra in contatto */







/* sei elementi */

#sei-elementi {
    width: 100%;
    height: 900px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 140px;

}

.cards-six{
    width: calc(100% / 3);
    height: calc(100% / 2);
    /* border: 1px solid black; */
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#scopri-di-più{
    color: blue;
    text-decoration: underline;
    padding-top: 70px;
    display: block;
    padding-bottom: 100px;
}

.img-cards{
    height: 50%;


}
/* /sei elementi */


/* logos-container */

#logos-container{
    width: 100%;
    background-color: #F5F5F5;
    height: 500px;
    /* border: 1px solid black; */
    display: flex;
}

.container-logos-dimensions{
    width: calc(100% /3);
    /* border: 1px solid black; */
    /* height: 500px; */
}
/* prova */

#logos-container-centered{
    /* height: auto;
    width: auto; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 40px;
    gap: 30px;
}

#riga-logo-centro{
    width: 80px;
    color: #ececed;

}

#img-centro{
    width: 50%;
}


/* /prova */
#logos-container-left-and-right{
    display: flex;
    flex-wrap: wrap;
}

.four-logos {
    width: calc(100% / 2);
    height: calc(100% / 2);
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.loghi{
    width: 50%;
    height: 50%;
}

/* designit */
.selezionato{
    border: 10px solid #D1E9CD;
}

#sfondo-verde{
    background-color: #A2D39B;
}

#designit{
    filter: invert(1);
}
/* /designit */

/* asu */
#sfondo-viola{
    background-color: #61082B;
}

#asu {
    filter: invert(1);
}
/* /asu */

/* florida */
#florida{
    height: 25px;
    filter: invert(1);
}

#sfondo-blu{
 background-color:#0093CE ;   
}
/* /florida */

/* topps */
#topps{
    filter: invert(1);
}

#sfondo-rosso-topps{
background-color: #FF1C1C;

}
/* /topps */

/* fine loghi sinistra */














/* inizio loghi destra */

/* bicycle */

#sfondo-rosso-bycicle{
    background-color: #D5001F;
}

#bycicle{
    filter: invert(1);
}
/* /bicycle */

/* hearst */

#sfondo-azzurro{
    background-color: #B4D0E7;
}

#hearst{
    filter: invert(1);

}

/* /hearst */

/* lonely */
#sfondo-blu-scuro{
    background-color: #0D2481;
}

#lonely{
    filter: invert(1);
}
/* lonely */

/* clear */

#sfondo-giallo{
    background-color: #FFD830;
}

#clear{
    filter: invert(1);

}


/* /clear */

/* / fine loghi destra */

/* fine logos-container */








/* inizio scritta viola */
#background-blue{
    background-color: #B4D0E7;
    width: 100%;

}

#centered-banner{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    /* background-color: rgb(0, 255, 149); */
    height: 300px;
    /* border: 1px solid black; */
}   

#container-viola{
    display: flex;
    justify-content: space-between;
    height: 300px;
    align-items: center;
}

#scritta-viola {
    color: #61082B;

}

#bottone-bianco{
    background-color: #ffffff;
    padding: 10px;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    border: none;
}







/* inizio domande frequenti */


#domande-frequenti-container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: auto;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 120px;
}

.spaziare-titoli {
    margin-bottom: 50px;

}

#arrow-top{
    border-bottom: none;
}

.container-p-arrow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #F3F3F3;
    border-bottom: 2px solid #F3F3F3;
    height: 60px;
}

#arrow-bottom{
    border-top: none;
}

.fa-angle-down{
    margin-right: 30px;
}

/* fine domande frequenti */



/* inizio footer */


footer{
    background-color: black;

}

#container-footer{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: auto;
    border: 1px solid black;
    background-color: rgb(0, 0, 0);

}

#container-5-columns{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    padding-bottom: 80px;
}

.styling-ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;

}

#container-5-columns li:first-child{
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* fine colonne del footer */

#linea {
    width: 110px;
}

#last-part-footer{
    color: white;
    padding-top: 30px;
    padding-bottom: 50px;
}

.fa-earth-americas{
    color: white;
}